<header>
  <div class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">WeWantRemoteWork</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      {% for page in site.pages %} {% if page.title %}
        <li class="nav-item">
          <a href="{{ page.url | prepend: site.baseurl }}" class="nav-link">{{ page.title }}</a></li>
        </li>
      {% endif %} {% endfor %}
    </ul>
  </div>
</header>